@charset "UTF-8";

/* Estilos base para o site */
*{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

html{
	height: 100vh;
}

body {
	background: #836fff;
	
}

header {
	background-color: #836fff;
	color: #fff;
	padding: 5px;
	
}

header h1{
	text-align: center;
	text-shadow: #000000;
	padding: 0;
	margin: 0;	
}


header a{
	position: relative;
	left: 5px;
	top: -20px;
}

header img {
	display: flexbox;
	transition: transform 0.2s ease-in-out;
}

header img:hover{
	transform: scale(1.2);
	cursor: pointer;
}


main {
	background-color: #836FFF;
	width: auto;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	
}

img{
	display: flexbox;
	margin: auto;
}

h1{
	text-align: center;
	color: aliceblue;
	font-size: 2em;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}

main h2.ola{
	color:aqua;
	text-indent: 5%;
	margin: 0;
	padding: 0;
}

main p{
	padding: 0px;
	margin: 20px;
	text-align: justify;
	text-indent: 3em;
}

.skill-icons {
	display: flex;
	justify-content:space-around;
	align-items: center;
  }
  
  .skill-icons img {
	width: 50px;
	height: 50px;
	transition: transform 0.2s ease-in-out;
  }
  
  .skill-icons img:hover {
	transform: scale(2.0);
	cursor: pointer;
  }

.btn-download-cv {
  display:flexbox;
  padding: 12px 24px;
  background-color: #00CED1;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  left: 45%;
}

.btn-download-cv:hover {
  background-color: #20B2AA;
  cursor: pointer;
}

main p.um{
	text-align: justify;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

main p.dois{
	color: aqua;
	text-align: right;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

#projects {
	background-color: #836FFF;
	padding: 0;
	margin: 0;
  }
  
  .container {
	max-width: 1200px;
	margin: 0 auto;
  }
  
  h2 {
	margin-bottom: 50px;
  }
  
  .projects-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .project {
	width: 300px;
	margin: 0 20px 40px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
  }
  
  .project:hover {
	transform: translateY(-10px);
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .project img {
	width: 100%;
	height: auto;
  }
  
  .project h3 {
	margin-top: 20px;
  }
  
  .project p {
	margin-top: 10px;
  }
  


footer{
	display: flexbox;
	background-color: #836FFF;
	color: #fff;
	padding: 5px;
	text-indent:2em;
	margin: 10px;
	padding: 10px;	
}

footer p{
	text-align: center;
	margin: auto;
	padding: auto;
}

footer img{
	width: 50px;
	height: 50px;
	transition: transform 0.2s ease-in-out;
}

footer img:hover{
	transform: scale(1.5);
	cursor: pointer;
}

section {
	margin-bottom: 40px;
}

.btn{
	position: relative;
	left: 1150px;
	top: -30px;
}

.parallax {
	display: flexbox;
	background-image: url('img/city-tech.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	position: relative;
}

.parallax:before {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.parallax-text {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	text-align: center;
}

.parallax-text h2 {
	font-size: 48px;
	margin-bottom: 20px;
}

.parallax-text p {
	font-size: 24px;
}

@media (min-width: 600px) and (max-width: 768px) {
	html{
		width: 100vw;
		height: 100vh;
	}
	
	main{
		width: 992px;
	}
}