@charset "UTF-8";
@font-face {
    font-family: 'FonteTitulo';
    src: url("fontes/Dosis-Bold.ttf");
}
body{
    margin: 0;
    padding: 0;
    color: rgba(255,255,255,0.8);
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'FonteTitulo', sans-serif;
    font-weight: 900;
    color: #4169E1;
}

p {
    text-align: justify;
    text-indent: 50px;
}

nav#menu{
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    left: 650px;
}

nav#menu li{
    display: inline-block;
    background-color: #4169E1;
    padding: 10px;
    margin: 10px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #121212;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: aliceblue;
    text-decoration: none;
}

nav#menu a:hover{
    color: #121212;
    text-decoration: none;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background-color: #ffffff;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p{
    margin-bottom: 40px;
    font-size: 18px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 20px;
    font-size: 36px;
}

section.module.content{
    padding: 40px;
    background: #121212;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000000 100%);
}

section.module.parallax-1{
    background-image: url(https://cdn.pixabay.com/photo/2016/04/04/14/12/monitor-1307227_960_720.jpg);
}

section.module.parallax-2{
    background-image: url(imagens/minha-foto.jpg);
}

section.module.parallax-3{
    background-image: url(imagens/web-bi.jpg);
}

section.module.parallax h1{
    color: rgba(240, 255, 255, 0.8);
    text-shadow: 4px 4px 4px rgba(0,0,0,0.6);
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 0;
}

section.module.parallax h2{
    color: rgba(18, 236, 207, 0.8);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    text-align: center;
    font-size: 39px;
    z-index: 50;
    text-transform: uppercase;
    margin-top: 0;
    padding: 0;
}
section.module.content h3{
    color: rgba(240, 248, 255,.8);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    text-align: right;
    font-size: 20px;
    z-index: 50;
    margin-bottom: 0;
    padding: 0;
}

section.module.content h4{
    color: #4169E1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    text-align: right;
    font-size: 15px;
    z-index: 50;
    margin-top: 0;
    padding: 0;

}

.area-1, .area-2, .area-3{
    visibility: hidden;
}

ul#album-fotos{
    width: 700px;
    margin: 0 auto;
    padding: 25px;
    overflow: hidden;
    list-style: none;
}

ul#album-fotos li{
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition: all .4s ease-in;
}

ul#album-fotos li span{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 185px;
    padding: 5px;
}

ul#album-fotos li:hover{
    -webkit-transform: scale(1.5);
}

ul#album-fotos li:hover span{
    opacity: 1;
}

ul#album-fotos li#fotos01{
    background: url(imagens/git.png);
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#fotos01:hover{
    background-position: 0 0;
    background-size: 100px 100px;
}

ul#album-fotos li#fotos02{
    background: url(imagens/github2.png);
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#fotos02:hover{
    background-position: 0 0;
    background-size: 100px 100px;
}

ul#album-fotos li#fotos03{
    background: url(imagens/html5.png);
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#fotos03:hover{
    background-position: 0 0;
    background-size: 100px 100px;
}

ul#album-fotos li#fotos04{
    background: url(imagens/css.png);
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#fotos04:hover{
    background-position: 0 0;
    background-size: 100px 100px;
}

ul#album-fotos li#fotos05{
    background: url(imagens/js.png);
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#fotos05:hover{
    background-position: 0 0;
    background-size: 100px 100px;
}

ul#album-fotos li#fotos06{
    background: url(imagens/nodejs.png);
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#fotos06:hover{
    background-position: 0 0;
    background-size: 100px 100px;
}

ul#album-fotos li#fotos07{
    background: url(imagens/php.png);
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#fotos07:hover{
    background-position: 0 0;
    background-size: 100px 100px;
}

ul#album-fotos li#fotos08{
    background: url(imagens/python.png);
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#fotos08:hover{
    background-position: 0 0;
    background-size: 100px 100px;
}

ul#album-fotos li#fotos09{
    background: url(imagens/kotlin.png);
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#fotos09:hover{
    background-position: 0 0;
    background-size: 100px 100px;
}

ul#album-fotos li#fotos10{
    background: url(imagens/java.png);
    background-position: 50% 50%;
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#fotos10:hover{
    background-position: 0 0;
    background-size: 100px 100px;
}

footer#rodape{
    clear: both;
    border-top: 1px #ffffff solid;
    background-color: #121212;
}
footer#rodape p{
    text-align: center;
    margin-bottom: 0;
}
.icone{
    position: relative;
    left: 620px;
    margin-top: 0;
}